/*
i dream of the day using keywords inside calc() gets
added to the CSS standard

we're close.... so close.......
*/

:root {
    --foreground: #aaa;
    --foreground-light: #fff;
    --background: #222222;
    --background-light: #333333;
    --background-lightest: #464646;
    --blue: #0CACD7;
    --light-blue: #619AA9;
    --white: #fff;
    --black: #000;
    
    --theme-background-image: url("resources/bg.jpg");
    --theme-background: #0F0F0F;
    --theme-text: #6D7566;
    --theme-anchor: #EA43DD;
}

@media (prefers-color-scheme: light) {
    :root {
        --foreground: #111;
        --foreground-light: #222;
        --background: #fff;
        --background-light: #eee;
        --background-lightest: #eee;
        
        --theme-background-light: #929292;
        --theme-text-light: #222222;
        --theme-anchor-light: #222222;
    }
}

body {
    background: var(--theme-background-image);
    color: var(--foreground);
    font-family: "Helvetica", "Arial", sans-serif;
}

h2 {
    font-size: 2em;
    font-weight: normal;
    margin: 0.4em 0;
}

a:any-link {
    color: var(--foreground);
    text-decoration: none;
    
    &:hover {
        text-decoration: underline;
    }
}

header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    
    height: 3.5em;
    padding: 0 10%;
    
    background-color: var(--background);
    
    & > * {
        display: block;
        
        &:not(label):hover {
            background-color: var(--background-light);
        }
    }
    
    & a {
        height: 100%;
        min-width: 4em;
        align-content: center;
    }
    
    & > a svg {
        height: 50%;
        width: 100%;
    }
    
    & > a:first-of-type:hover {
        background-color: transparent;
    }
    
    & > a h1 {
        height: 100%;
        display: flex;
        align-items: center;
    }
    
    & > label {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        
        height: 75%;
        
        margin-right: auto;
        margin-left: 2em;
        padding: 0 0.25em;
        
        background-color: var(--background-light);
        border-radius: 5px;
        
        & > svg {
            height: 1.5em;
        }
        
        & > input {
            background-color: transparent;
            color: var(--foreground);
            border: none;
            
            height: 100%;
            width: 20em;
            
            margin: 0 0.5em;
            
            font-size: 1.2em;
        }
    }
    
    & #profile {
        height: 100%;
        width: 4em;
        position: relative;
        
        &:open {
            background-color: var(--background-light);
        }
        
        & summary {
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: center;
            
            &::marker {
                content: "";
            }
            
            & img {
                margin: auto;
                height: 80%;
                clip-path: circle(50%);
            }
        }
        
        & > div {
            background-color: var(--background-light);
            color: var(--foreground-light);
            width: max-content;
            position: absolute;
            right: 0;
            padding: 0.5em 0;
            border-top: solid 2px var(--background-lightest);
            
            & a {
                color: var(--foreground-light);
            }
            
            & ul {
                list-style-type: none;
                padding-left: 0;
            }
            
            & li {
                padding: 0.4em 0.5em;
                padding-right: 4em;
                
                &:not(.separator):hover {
                    background-color: var(--background-lightest);
                }
                
                /* Small "View collection text. just not putting a class there cause i'm not doin it again */
                & div:nth-of-type(2) {
                    font-size: 0.7em;
                }
            }
            
            & li.separator {
                padding: 0;
                border-bottom: 2px solid var(--background-lightest);
                margin: 0.4em 0;
            }
        }
    }
}

main {
    max-width: 60%;
    margin: auto;
    margin-bottom: 3em;
    
    
    background-color: var(--theme-background);
    color: var(--theme-text);
    
    & a:any-link {
        color: var(--theme-anchor);
    }
    
    & a.textAnchor {
        color: var(--theme-text);
    }
    
    & .smallText {
        font-size: 0.9em;
    }
    
    & .bigText {
        font-size: 1.2em;
        font-weight: bold;
    }
    
    & > a {
        display: block;
        grid-column: 1 / 4;
        width: 100%;
        
        & img {
            width: 100%;
        }
    }
    
    & > div {
        display: grid;
        grid-template-columns: 3fr 3fr 1fr;
        gap: 2em;
        
        padding: 2em;
        
        & > div {
            min-width: 0px;
        }
    }
    
    & #track {
        & br {
            margin: 1em 0;
        }
        
        & #player {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            margin: 1em 0;
        }
        
        & p:not(:first-of-type) {
            margin: 0.75em 0;
        }
        
        & > ul {
            margin-top: 2em;
            
            list-style-type: none;
            
            & li {
                display: flex;
                flex-flow: row;
                align-items: flex-start;
                gap: 1em;
                
                margin: 1em 0;
                
                & button {
                    padding: 0.2em 0.3em 0.2em 0.5em;
                    line-height: 1.5em;
                    
                    background-color: var(--white);
                    color: var(--black);
                    
                    border-radius: 3px;
                    border: none;
                    
                    cursor: pointer;
                }
                
                & > span:nth-of-type(2) {
                    word-break: break-word;
                }
                
                & .hidden {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-around;
                    gap: 1em;
                    
                    min-width: 8em;
                    
                    margin-left: auto;
                    
                    visibility: hidden; /* reserve space, but don't display */
                    
                    & details {                        
                        color: var(--theme-anchor);
                        
                        height: 100%;
                        
                        & summary {
                            &::marker {
                                content: "";
                            }
                            
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                    
                    & a {
                        margin-left: auto;
                    }
                }
                
                &:hover .hidden {
                    visibility: visible;
                }
                
                &.lyrics {
                    display: none;
                    
                    margin-left: 2em;
                    
                    white-space: pre-line;
                    
                    & p {
                        margin-bottom: 1em;
                    }
                }
                
                &:has(details[open]) + .lyrics {
                    display: flex;
                }
            }
        }
        
        #copyright {
            display: block;
            margin: 2em 0;
            
            & svg {
                display: inline-block;
                
                height: 1em;
                width: 1em;
                
                color: var(--theme-text);
            }
        }
        
        #tags {
            display: flex;
            flex-flow: row nowrap;
            gap: 1em;
            
            margin: 0;
            
            list-style-type: none;
        }
    }
    
    & #album {
        & img {
            width: 100%;
        }
        
        & svg {
            height: 1em;
            width: 1em;
        }
        
        & > p {
            margin: 1em 0;
        }
        
        & #reviews {
            list-style-type: none;
            margin: 1em;
            padding: 0;
            
            & li {
                display: flex;
                flex-flow: row nowrap;
                align-items: flex-start;
                gap: 1em;
                
                & img {
                    height: 2em;
                    width: 2em;
                }
            }
        }
    }
    
    & #artist {
        & img {
            width: 100%;
        }
        
        & p {
            margin: 1em 0;
        }
        
        & #follow {
            display: block;
            
            width: 100%;
            height: 1.75em;
            
            margin: 1em auto;
            
            background-color: var(--light-blue);
            color: var(--white);
            
            font-size: 1.2em;
            font-weight: bold;
            
            border: none;
            border-radius: 5px;
        }
        
        & > ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            
            & li {
                display: flex;
                flex-flow: column nowrap;
                gap: 0.5em;
                
                margin: 1em 0;
                
                & img {
                    width: 90%;
                }
            }
        }
    }
}

footer {
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
    
    padding: 2em 10%;
    
    background-color: var(--background-light);
    color: var(--foreground);
    
    & ul {
        margin: 1em 0;
        
        list-style-type: none;
        
        & li {
            margin: 0.25em 0;
        }
    }
    
    & > div:first-of-type {
        display: flex;
        flex-flow: row nowrap;
        gap: 4em;
        
        & a {
            color: var(--foreground-light);
        }
        
        & > div:last-of-type {
            margin-left: auto;
        }
    }
    
    & > div:last-of-type {
        display: flex;
        justify-content: space-between;
    }
}

@media (width < 1800px) {
    main {
        max-width: 70%;
    }
}

@media (width < 1500px) {
    main {
        max-width: 80%;
    }
}

@media (width < 1300px) {
    #search {
        width: 15em;
    }
    
    main {
        max-width: 90%;
    }
}

@media (width < 1000px) {
    #search {
        width: 8em;
    }
    
    main {
        max-width: 95%;
    }
    
    main > div {
        grid-template-columns: 100%;
        grid-auto-rows: fit-content;
    }
    
    #album {
        order: -1;
    }
    
    
}